name: chat-ui

services:
  omnichat-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: omnichat-api
    restart: unless-stopped
    ports:
      - '127.0.0.1:3001:3001'
    environment:
      - TZ=Asia/Jakarta
    env_file:
      - ./backend/.env
    networks:
      - omnichat-network

  omnichat-ui:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: omnichat-ui
    restart: unless-stopped
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      - HOSTNAME=0.0.0.0
      - TZ=Asia/Jakarta
    env_file:
      - .env
    depends_on:
      - omnichat-api
    networks:
      - omnichat-network

networks:
  omnichat-network:
    driver: bridge
